
a.button,
.popup-body a.button {
	background:linear-gradient(to bottom, var(--top-bar-bg-colour) 5%, var(--top-bar-border) 100%);
	background-color:var(--top-bar-bg-colour);
    border: 1px solid var(--top-bar-border);
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:var(--top-bar-text-colour);
	font-size:1rem;
    font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
    &:hover {
        background:linear-gradient(to bottom, var(--top-bar-border) 5%, var(--top-bar-bg-colour) 100%);
        background-color:var(--top-bar-border);
        color: var(--top-bar-text-colour);
    }
    &:active {
        position:relative;
        top:1px;
    }
}