
        <header class="top-bar">
            <div class="top-bar-container">
                <h1 class="site-title"><a href="{{ site.url }}/"><img src="{{ site.url }}/assets/logo/the-curve.svg" alt="{{ site.name }}"><span class="site-title-text">{{ site.name }}</span></a></h1>
                <nav>
                    <input type="checkbox" id="button">
                    <label for="button" onclick>Menu</label>
                    <ul>
                        <li{% if page.section == 'home' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/">Home</a>
                        </li>
                        <li{% if page.section == 'location' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/location/">Location</a>
                        </li>
                        <li{% if page.section == 'space' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/space/">Space</a>
                        </li>
                        <li{% if page.section == 'contact' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/contact/">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

